.card{
    width: 350px;
    height: 400px;
    margin: 10px;
    position: relative;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 350px;
    opacity: 0.98;

}

.card-gallery{
    display: flex!important;
    flex-direction: column!important;
    flex-flow: row wrap!important;
}
.tab-pane{
    display: flex!important;
    flex-direction: column!important;
    flex-flow: row wrap!important;
}
.card-img-top{
    width: 200px!important;
    height: 200px!important;
    position: relative;
    border: solid gray medium;
    margin: auto;
    opacity: 0.8;
}
.card-body{
    height: 150px!important;
    overflow: hidden;
    opacity: 1!important;
    background-color:white;
}
.card-footer{
    height: 70px!important;
}
.w-100{
    width: 94%!important;
    color: black;
   /* text-shadow: 3px 2px 2px grey;*/
    font-weight: 900;
    height: 80vh;
}
.small-image{
    width:180px;height: 180px;position:relative; opacity: 0.98;margin-top:7px;
}
.gym-image{
    position: absolute;
    margin-left: 0;
    margin-top: 0;
    width: 350px;
    height: 400px;
    opacity: 0.54;
    z-index: 0;
}
.nav-tabs li{
    background-color:grey;
    opacity: .93;
}
.social-button{
    max-width:400px;
    max-height: 130px;
}
body {
    background-size: 100vw 100vh;
}
body:before {
    content: "";
    display: block;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: -10;
    background: url('../img/background-image.jpg') no-repeat center center;
    -webkit-background-size: 100vw 100vh;
    -moz-background-size: 100vw 100vh;
    -o-background-size: 100vw 100vh;
    background-size: 100vw 100vh;
}
form{
    background-color: #f7f5f3;
}

#sidebar{
    width: 20vw;

}
#mainContent{
    /*width: 98%;*/
    padding-top:10vh;
    margin: auto;
    position: relative;
    text-align: center;
    justify-content: center;
    align-content: center;
}
#content{
    width: 85%;
    position:relative;
    margin:auto;
}

@media  (min-width: 400px) and (max-width: 760px) {
    .card{
        width: 98vw;
        min-height: 400px;
        margin: 10px;
        position: relative;
        overflow: hidden;
        background-attachment: unset;
    }
    .individual-item-card{
        min-height: 750px!important;
        max-width: 360px!important;
        margin: auto!important;
        position:relative!important;
        opacity: 0.95;
    }
    #content{
        width: 100vw;
    }
    #mainContent{
        padding-top: 10vh;
    }
    .social-button{
        max-width: 300px;
        max-height: 120px;
    }
    .gym-image{
        position: absolute;
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        height: 100%;
        min-height: 600px;
        opacity: 0.54;
        z-index:0;
    }
    .w-100{
        width: 96%!important;
        position:relative!important;
        margin:auto;
        color: black;
        /* text-shadow: 3px 2px 2px grey;*/
        font-weight: 900;
        height: 80vh;
    }
}
@media  screen and (max-width: 760px) and (orientation: landscape){
    body{
        background-size: 100% 100% !important;
        background-attachment: fixed !important;
        height: 100vh;
        width: 100vw;
    }
    .card{
        width: auto;
    }
    .individual-item-card{
        width: 90%!important;
        position:relative!important;
        margin:auto;
        color: black;
        /* text-shadow: 3px 2px 2px grey;*/
        font-weight: 900;
        min-height: 75vh!important;
        height: 75vh!important;
    }

}

@media  screen and (max-width: 400px) and (orientation: portrait){
    body{
        background-size: 100% 100% !important;
        background-attachment: fixed !important;
        height: 100vh;
        width: 100vw;
    }
    h1{
        font-size: 1.8rem!important;
    }
    .individual-item-card{
        width: 95%!important;
        position:relative!important;
        margin:auto;
        color: black;
        /* text-shadow: 3px 2px 2px grey;*/
        font-weight: 900;
        min-height: 65vh!important;
        max-height: 65vh!important;
        height: 65vh!important;
    }
}
